@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

@font-face {
	font-family: 'Gothic60';
	src: url('/assets/fonts/Gothic60-Regular.otf') format('opentype');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
